@font-face {
	font-family: AnonymousPro;
	src: url("/assets/AnonymousPro.ttf");
}
:root {
	--font-monospace: AnonymousPro, monospace;
}

html,
body {
  width: 100svw;
  height: 100svh;
  overflow: hidden;
  user-select: none;
}

#game {
	position: absolute;
}

#overlay {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 100;
}

#console {
	left: 4vmin;
	top: 4vmin;
	width: max(30svw, 300px);
	height: 55svh;
	position: absolute;
	border: solid 10px #555;
	display: flex;
	flex-direction: column;
	font-family: var(--font-monospace);
}
#console-title {
	background: #777;
	font-size: 24px;
	display: flex;
	align-items: center;
	justify-content: center;
}
#console-entries {
	flex: 1;
	background: #333;
}
#console-input {
	background: #777;
	font-size: 18px;
	padding: 6px;
	display: flex;
	gap: 6px;
	flex-wrap: wrap;
	align-items: center;
}
#console-input-action {
	text-decoration: underline;
}
.console-input-item {
	font-size: 16px;
	display: inline-block;
	width: min-content;
	background: #999;
	color: #333;
	line-height: 16px;
	padding: 6px;
	border-radius: 6px;
}